{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::base.bootstrap.layout.html.twig' %}

{% block title %}
About GPS Products
{% endblock %}

{% block body %}
<!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->
  
  <!-- Page Title -->
  <div class="section section-breadcrumbs">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>About Us</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- About Us Section -->
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>We are a Leading Packaging Company</h3>
          <p>GPS Products is a Long-established Business specialising Top Quality Packaging, Presentation Boxes and Point Of Sale Product Display.
                        <br>
                </p>
                    <hr>

                    <h3>We Provide A Wide Range of Products & Services</h3>
                    <p>From Food to Non-food Packaging and Point of Sale Displays to Specialised Machinery and Custom Boxes we can provide the high quality you need at the right price.
                       <ul>
                            <li>Blister Packs, Clam Packs, Virtuweld Packs</li>
                            <li>Hooks, Tabs & Euro Slots, Plain & Printed, Point of Sale Products</li>
                            <li>Unique Merchandising and Display Solutions for POS</li>
                            <li>Plastic Cylinders & Boxes, Plain or Printed </li>
                        </ul>
                        <hr>
                    </p>

                    <h3>We are the Sole Distributors for:</h3>
                    <ul>
                        <li>"MR BLISTER" - "Off-the-Shelf" Blister Packs, Clam Packs, Virtuweld Packs</li>
                        <li>"DO-IT CORP. USA" - Hooks, Tabs & Euro Slots, Plain & Printed, Point of Sale Products</li>
                        <li>"LIGHTHOUDE DISPLAYS" - Leading Creative provider of Unique Merchandising and Display Solutions for POS</li>
                        <li>"JETRAN" & "JETLOCK" - Plastic Cylinders & Boxes, Plain or Printed </li>
                    </ul>

                    <hr>

        </div>
        <div class="col-sm-6">
          <div class="video-wrapper">
            
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}