{# src/Acme/DemoBundle/Resources/views/Random/index.html.twig #}
{% extends '::base.bootstrap.layout.html.twig' %}

{% block title %}
GPS Products | Home
{% endblock %}



{% block body %}
<!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
  <![endif]-->

  <!-- Homepage Slider -->
  <div class="homepage-slider">
    <div id="sequence">
      <ul class="sequence-canvas">
        <!-- Slides: Classes in main.css -->
        <!-- Slide 1 -->
        <li class="bg1">
          <!-- Slide Title -->
          <h2 class="title">Great Presentation & Packaging</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">Boxes, Hang Tabs, Blister Packs, Point of Sale and Specialist Packaging</h3>
          <!-- Slide Image -->
          <img class="slide-img" src="img/homepage-slider/slide-3.png" alt="Slide 1" />
        </li>
        <!-- End Slide 1 -->
        <!-- Slide 2 -->
        <li class="bg2">
          <!-- Slide Title -->
          <h2 class="title">Enhance your Product Presentation</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">With Great Packaging for Point of Sale Merchandise.</h3>
          <!-- Slide Image -->
          <img class="slide-img" src="img/homepage-slider/slide-2c.png" alt="Slide 2" />
        </li>
        <!-- End Slide 2 -->
        <!-- Slide 3 -->
        <li class="bg3">
          <!-- Slide Title -->
          <h2 class="title">The Best Packaging for Your Products</h2>
          <!-- Slide Text -->
          <h3 class="subtitle">Huge amount of Options and Variety</h3>
          <!-- Slide Image -->
          <img class="slide-img" src="img/homepage-slider/slide-1.png" alt="Slide 3" />
        </li>
        <!-- End Slide 3 -->
      </ul>

      <div class="sequence-pagination-wrapper">
        <ul class="sequence-pagination">
          <li>1</li>
          <li>2</li>
          <li>3</li>
        </ul>
      </div>

    </div>
  </div><!-- End Homepage Slider -->
  
  <!-- Products -->
  <div class="section">
    <div class="container">
      <div class="row">
        
        <div class="col-md-4 col-sm-6">
          <div class="portfolio-item">
            <div class="portfolio-image">
              <a href="products.php#presentation-boxes"><img src="img/products/product-pres-boxes-1.jpg" alt="Project Name"></a>
            </div>
            <div class="portfolio-info">
              <ul>
                <li class="portfolio-project-name">Presentation Boxes</li>
                <li>Present Virtually Any Product</li>
                <li>Wide Range of Packaging</li>
                <li class="read-more"><a href="products.php#presentation-boxes" class="btn">Read more</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="portfolio-item">
            <div class="portfolio-image">
              <a href="products.php#blister-packs"><img src="img/products/product-blister-packs-2.jpg" alt="Project Name"></a>
            </div>
            <div class="portfolio-info">
              <ul>
                <li class="portfolio-project-name">Blister Packs</li>
                <li>All Sizes and Shapes</li>
                <li>High Quality Build, Look and Feel</li>
                <li class="read-more"><a href="products.php#blister-packs" class="btn">Read more</a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-4 col-sm-6">
          <div class="portfolio-item">
            <div class="portfolio-image">
              <a href="products.php"><img src="img/products/product-hangtabs-2b.jpg" alt="Project Name"></a>
            </div>
            <div class="portfolio-info">
              <ul>
                <li class="portfolio-project-name">Hang Tabs</li>
                <li>All Types and Styles</li>
                <li>Promotions and Merchandising</li>
                <li class="read-more"><a href="products.php#hangtabs" class="btn">Read more</a></li>
              </ul>
            </div>
          </div>
        </div>

      </div><!-- End Row -->
    </div><!-- End Container -->
  </div><!-- End Section -->

  <!-- Footer -->
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-footer col-md-4 col-xs-6">
            <h3>About Us</h3>
            <p class="contact-us-details">
                    GPS Products is a long-established business specialising in Point Of Sale Product Presentation and Top Quality Packaging.
                  </p>
          </div>
          <div class="col-footer col-md-4 col-xs-6">
            <h3>Products</h3>
            <ul class="no-list-style footer-navigate-section">
              <li><a href="products.php#hangtabs">Hang Tabs</a></li>
              <li><a href="products.php#blister-packs">Blister Packs</a></li>
              <li><a href="products.php#presentation-boxes">Presentation Boxes</a></li>
            </ul>
          </div>
        <div class="col-footer col-md-4 col-xs-6">
            <h3>Contact</h3>
            <p class="contact-us-details">
                    <b>Address:</b> 11 Seafield Avenue, Clontarf, Dublin 3<br/>
                    <b>Phone:</b> + 353 1 623 5199<br/>
                    <b>Email:</b> <a href="mailto:john@gpsproducts.ie">john@gpsproducts.ie</a>
                  </p>
          </div>
          <div class="col-md-12">
            <a href="terms-privacy.php">Privacy & Terms</a>
          </div>
        <div class="col-md-12">
          <div class="footer-copyright">&copy; 2014 GPS Products. All rights reserved.</div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}